{% extends 'main/layout.html' %}
{% load static %}

{% block title %}АрхСтиль - Отзывы{% endblock %}

{% block content %}

<div class="secondary_page">
    <div class="header_block_1_contacts">
        <header>
            <div class="header_1_secondary">
                <a href="{% url 'services' %}" class="header_text_secondary">Услуги</a>
                <a href="{% url 'repair' %}" class="header_text_secondary">Ремонт и отделка</a>
                <a href="{% url 'projects' %}" class="header_text_secondary">Проекты</a>

            </div>
            <a href="{% url 'index' %}">
                <div class="block_logo">
                    <img src="{% static 'main/img/main_logo_black.png' %}">
                </div>
            </a>
            <div class="header_2_secondary">
                <a href="{% url 'reviews' %}" class="header_text_secondary">Отзывы</a>
                <a href="{% url 'contacts' %}" class="header_text_secondary">Контакты</a>
                <a href="{% url 'designing' %}" class="header_text_secondary">Проектирование домов</a>
            </div>
        </header>
    </div>


    <div class="main_container_reviews">
        <div class="block_text_page_contacts">
            <p class="text_page_contacts3"><a href="{% url 'index' %}">Главная</a> / Отзывы</p>
            <h1 class="title_h1b">ОТЗЫВЫ</h1>
            <div class="block_content_contacts">
                <div class="block_content_contacts_min">
                    <p class="text_page_reviews1">Поделитесь впечатлением от нашей работы</p>
                </div>
            </div>
        </div>

        <div class="modal-body">
            <form method="POST">
                {% csrf_token %}
                <div class="mb-3">
                    <input type="text" name="name" class="form-control" placeholder="Ваше имя" required>
                </div>
                <div class="mb-3">
                        <textarea type="text" name="comment" class="form-control" placeholder="Коментарий"
                                  required></textarea>
                </div>
                {{ form }}
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Отправить</button>
                </div>
            </form>
        </div>

        <div class="main_container_comments">
            {% for item in comments %}
            <div class="container_comment">
                <div class="card">
                    <div class="card-body">
                        <p class="card_title">{{ item.name }}</p>
                        <p class="card_text">{{ item.comment }}</p>
                        <p class="card_date">{{ item.date }}</p>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

{% endblock %}